<div class="about">
	<div class="container">
		<h1>AngularJS Geolocation App</h1>
		<h3>This AngularJS app shows your current location via the lat and lon coordinates and displays on the map and also shows some of the sights from Wikipedia API and from built-in Node.js JSON API</h3>
		<h3>You can add geolocation point to map by select point on map and then move to <b>Add Geo</b> page to fill form (info about added point <b>latitude and longitude added to form automatically after select point on map</b>) and add this point to map</h3>
		<br>
		<a class="btn btn-primary" href="#/">Start exploring</a>
	</div>
</div>
